<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>

	<table class="css-table m-10">
		<!-- This head is just if the table has a header -->
		<thead>
			<tr>
				<th>Title</th>
				<th>Author</th>
				<th>Views</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Intro to CSS</td>
				<td>Adam</td>
				<td>858</td>
			</tr>
			<tr>
				<td>A Long and Winding Tour of the History of UI Frameworks and Tools
					and
					the Impact on Design</td>
				<td>Adam</td>
				<td>112</td>
			</tr>
			<tr>
				<td>Intro to JavaScript</td>
				<td>Chris</td>
				<td>1,280</td>
			</tr>
			<tr>
				<td>Intro to JavaScript</td>
				<td>Chris</td>
				<td>1,280</td>
			</tr>
			<tr>
				<td>Intro to JavaScript</td>
				<td>Chris</td>
				<td>1,280</td>
			</tr>
		</tbody>
	</table>
</body>

</html>
