<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Countdown</title>
</head>

<body>
	<div class="css-countdown js-countdown sm:flex flex-wrap text-3xl lg:text-6xl"
		data-end-date="Apr 30 2021 16:13:37 GMT+0100">
		<div class="text-center ml-5">
			<span class="block font-bold text-sm">Days</span>
			<span
				class="inline-block relative px-7 lg:px-10 py-4 lg:py-5 mt-2 w-32 lg:w-48 js-days">
				0
			</span>
		</div>

		<div class="text-center ml-5">
			<span class="block font-bold text-sm">Hours</span>
			<span
				class="inline-block relative px-7 lg:px-10 py-4 lg:py-5 mt-2 w-32 lg:w-48 js-hours">
				0
			</span>
		</div>

		<div class="text-center ml-5">
			<span class="block font-bold text-sm">Minutes</span>
			<span
				class="inline-block relative px-7 lg:px-10 py-4 lg:py-5 mt-2 w-32 lg:w-48 js-minutes">
				0
			</span>
		</div>

		<div class="text-center ml-5">
			<span class="block font-bold text-sm">Seconds</span>
			<span
				class="inline-block relative px-7 lg:px-10 py-4 lg:py-5 mt-2 w-32 lg:w-48 js-seconds">
				0
			</span>
		</div>
	</div>
</body>

</html>
