<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Countdown</title>
</head>

<body>
	<div class="flex">
		<div class="text-center ml-5 css-countdown">
			<span class="block font-bold">Days</span>
			<span class="inline-block relative px-10 py-5 mt-2 w-48 text-6xl js-days">
				0
			</span>
		</div>

		<div class="text-center ml-5">
			<span class="block font-bold">Hours</span>
			<span
				class="inline-block relative px-10 py-5 mt-2 w-48 text-6xl js-hours">
				0
			</span>
		</div>

		<div class="text-center ml-5">
			<span class="block font-bold">Minutes</span>
			<span
				class="inline-block relative px-10 py-5 mt-2 w-48 text-6xl js-minutes">
				0
			</span>
		</div>

		<div class="text-center ml-5">
			<span class="block font-bold">Seconds</span>
			<span
				class="inline-block relative px-10 py-5 mt-2 w-48 text-6xl js-seconds">
				0
			</span>
		</div>
	</div>
</body>

</html>