<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Article</title>
</head>

<body class="p-10">
	<article
		class="css-article text-center sm:text-left max-w-3xl mx-auto leading-8 text-lg">
		<h1 class="h-32 flex items-center uppercase text-5xl">Article Title</h1>
		<img src="http://placekitten.com/500/375"
			class="sm:float-left mr-8 mb-5 max-w-xs inline ml-5">
		<p class="text-justify">
			Jackson Isai? Tu quoque ... A te quidem a ante. Vos scitis quod blinking
			res Ive
			'been vocans super vos? Et conteram illud, et conteram hoc. Maledicant
			druggie
			excors. Iam hoc tu facere conatus sum ad te in omni tempore?

			Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super
			omne
			oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor
			apparatus.
			Qui curis! Modo nobis certamen est, qui non credunt at.

			Nonne vides quid sit? Tu es ... Jesse me respice. Tu ... blowfish sunt. A
			blowfish! Cogitare. Statura pusillus, nec sapientium panem, nec artificum.
			Sed
			predators facile prædam blowfish secretum telum non se habet. Non ille?
			Quid
			faciam blowfish, Isai. Blowfish quid faciat? In blowfish inflat, purus?

			Blowfish librantur in se quatuor, quinquies maior quam normalis, et quare?
			Quare
			id faciam? Ut terrorem facit, qui quid. Terrent! Ut alter, scarier pisces
			agminis off. Et quod tu es? Vos blowfish. Tu iustus in omnibus visio.
			Vides ...
			suus ' suus 'non aliud aerem. Nunc ... qui cum partibus blowfish Isai? Tu
			damnare ius. Vos blowfish. Dicere iterum. Dicere illam quasi velis eam. Es
			BLOWFISH!

			Ut sibi fuerat socius sagittis. Ego intervenerit. Vere quia a te nuper
			iratus
			occidit illos undecim annorum puer. Deinde, si hoc forte qui fuit
			imperavit.
		</p>
		<h2 class="mt-10 mb-5 text-2xl font-bold">Subheadline</h2>
		<img src="http://placekitten.com/500/375"
			class="sm:float-right ml-8 mb-5 max-w-xs inline mr-5">
		<p>
			Jackson Isai? Tu quoque ... A te quidem a ante. Vos scitis quod blinking
			res Ive
			'been vocans super vos? Et conteram illud, et conteram hoc. Maledicant
			druggie
			excors. Iam hoc tu facere conatus sum ad te in omni tempore?

			Ludum mutavit. Verbum est ex. Et ... sunt occidat. Videtur quod est super
			omne
			oppidum. Quis transfretavit tu iratus es contudit cranium cum dolor
			apparatus.
			Qui curis! Modo nobis certamen est, qui non credunt at.

			Nonne vides quid sit? Tu es ... Jesse me respice. Tu ... blowfish sunt. A
			blowfish! Cogitare. Statura pusillus, nec sapientium panem, nec artificum.
			Sed
			predators facile prædam blowfish secretum telum non se habet. Non ille?
			Quid
			faciam blowfish, Isai. Blowfish quid faciat? In blowfish inflat, purus?

			Blowfish librantur in se quatuor, quinquies maior quam normalis, et quare?
			Quare
			id faciam? Ut terrorem facit, qui quid. Terrent! Ut alter, scarier pisces
			agminis off. Et quod tu es? Vos blowfish. Tu iustus in omnibus visio.
			Vides ...
			suus ' suus 'non aliud aerem. Nunc ... qui cum partibus blowfish Isai? Tu
			damnare ius. Vos blowfish. Dicere iterum. Dicere illam quasi velis eam. Es
			BLOWFISH!

			Ut sibi fuerat socius sagittis. Ego intervenerit. Vere quia a te nuper
			iratus
			occidit illos undecim annorum puer. Deinde, si hoc forte qui fuit
			imperavit.
		</p>
	</article>
</body>

</html>
