<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Layout</title>
</head>

<body>
	<header>
		<nav>
			<a href="#">LOGO</a>
			<a href="#">Home</a>
			<a href="#" class="css-active">Active page</a>
		</nav>
		<div>
			User-Menu
		</div>
	</header>

	<main>
		<p>Text</p>
		<p class="my-28 text-8xl">Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Autem harum, repellendus laborum quaerat quis fuga dignissimos
			corporis
			odio vitae, eligendi vero voluptate rerum, accusantium aperiam ex vel
			veritatis ratione repellat!</p>
		<p class="my-28 text-8xl">Lorem ipsum dolor sit amet consectetur adipisicing
			elit. Autem harum, repellendus laborum quaerat quis fuga dignissimos
			corporis
			odio vitae, eligendi vero voluptate rerum, accusantium aperiam ex vel
			veritatis ratione repellat!</p>

		<ul>
			<li>This is a list item</li>
			<li>This is a list item</li>
			<li>This is a list item</li>
			<li>This is a list item</li>
		</ul>

		<ol>
			<li>This is a list item</li>
			<li>This is a list item</li>
			<li>This is a list item</li>
			<li>This is a list item</li>
		</ol>
	</main>
	<footer>
		<a href="/datenschutz">Datenschutz</a>
	</footer>
</body>

</html>
