<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Timeline</title>
	</head>

	<body>
		<header>
			<nav>
				<a href="#">LOGO</a>
				<a href="#">Home</a>
				<a href="#" class="css-active">Active page</a>
			</nav>
			<div>User-Menu</div>
		</header>

		<main>
			<header class="css-hero">
				<img src="images/profile.jpg" />

				<h1 class="css-hero__element">This is my headline</h1>
			</header>
			<div class="text-center">
				<div class="css-timelineHorizontal">
					<section>
						<div>
							<p>Start</p>
							<p>11:00</p>
						</div>
					</section>
					<section>
						<div>
							<p>Aufbauen</p>
							<p>18:00</p>
						</div>
					</section>
					<section>
						<div>
							<p>Vorbereitung</p>
							<p>19:00</p>
						</div>
					</section>
					<section>
						<div>
							<p>Zocken</p>
							<p>19:30</p>
						</div>
					</section>
					<section>
						<div>
							<p>Abendessen</p>
							<p>20:00</p>
						</div>
					</section>
				</div>
			</div>
		</main>

		<footer>
			<a href="/datenschutz">Datenschutz</a>
		</footer>
	</body>
</html>
