<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Timeline</title>
	</head>

	<body>
		<header>
			<nav>
				<a href="#">LOGO</a>
				<a href="#">Home</a>
				<a href="#" class="css-active">Active page</a>
			</nav>
			<div>User-Menu</div>
		</header>

		<main>
			<header class="css-hero">
				<img src="images/profile.jpg" />

				<h1 class="css-hero__element">This is my headline</h1>
			</header>
			<div class="text-center">
				<div class="css-timeline css-timeline--horizontal">
					<section class="css-timeline__entry">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Start</p>
							<p class="css-timeline__time">11:00</p>
						</div>
					</section>
					<section class="css-timeline__entry">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Aufbauen</p>
							<p class="css-timeline__time">18:00</p>
						</div>
					</section>
					<section class="css-timeline__entry">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Vorbereitung</p>
							<p class="css-timeline__time">19:00</p>
						</div>
					</section>
					<section class="css-timeline__entry css-timeline__entry--active">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Zocken</p>
							<p class="css-timeline__time">19:30</p>
						</div>
					</section>
					<section class="css-timeline__entry">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Abendessen</p>
							<p class="css-timeline__time">20:00</p>
						</div>
					</section>
				</div>

				<br /><br />
				<hr />
				<br /><br />

				<div class="css-timeline css-timeline--vertical">
					<section class="css-timeline__entry css-timeline__entry--left">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Start</p>
							<p class="css-timeline__time">11:00</p>
						</div>
					</section>
					<section
						class="css-timeline__entry css-timeline__entry--right css-timeline__entry--active"
					>
						<div class="css-timeline__content">
							<p class="css-timeline__description">Aufbauen</p>
							<p class="css-timeline__time">18:00</p>
						</div>
					</section>
					<section class="css-timeline__entry css-timeline__entry--left">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Vorbereitung</p>
							<p class="css-timeline__time">19:00</p>
						</div>
					</section>
					<section class="css-timeline__entry css-timeline__entry--right">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Zocken</p>
							<p class="css-timeline__time">19:30</p>
						</div>
					</section>
					<section class="css-timeline__entry css-timeline__entry--left">
						<div class="css-timeline__content">
							<p class="css-timeline__description">Abendessen</p>
							<p class="css-timeline__time">20:00</p>
						</div>
					</section>
				</div>
			</div>
		</main>

		<footer>
			<a href="/datenschutz">Datenschutz</a>
		</footer>
	</body>
</html>
