<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info-Box</title>
</head>

<body class="flex flex-col min-h-screen">
	<header class="px-10 py-10 flex justify-between fixed w-full">
		<nav>
			<a href="#" class="px-3 py-10">LOGO</a>
			<a href="#" class="px-3 py-10">Home</a>
			<a href="#" class="px-3 py-10 border-white border-b-2">Active page</a>
		</nav>
		<div>
			User-Menu
		</div>
	</header>

	<main class="flex-grow pt-24">

		<div class="css-info css-info--alert">
			Du hast bereits an dieser Abstimmung teilgenommen.
		</div>

		<div class="css-info css-info--success">
			Du hast erfolgreich an dieser Abstimmung teilgenommen.
		</div>

	</main>

	<footer class="px-10 py-10 flex justify-between">
	</footer>
</body>

</html>
