<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Info-Box</title>
</head>

<body>
	<header>
		<nav>
			<a href="#">LOGO</a>
			<a href="#">Home</a>
			<a href="#" class="css-active">Active page</a>
		</nav>
		<div>
			User-Menu
		</div>
	</header>

	<main>

		<div class="css-info css-info--alert">
			Du hast bereits an dieser Abstimmung teilgenommen.
		</div>

		<div class="css-info css-info--success">
			Du hast erfolgreich an dieser Abstimmung teilgenommen.
		</div>

	</main>

	<footer>
		<a href="/datenschutz">Datenschutz</a>
	</footer>
</body>

</html>
