<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Articles</title>
</head>

<body>
	<header>
		<nav>
			<a href="#">LOGO</a>
			<a href="#">Home</a>
			<a href="#" class="css-active">Active page</a>
		</nav>
		<div>
			User-Menu
		</div>
	</header>


	<main class="css-pollPreview">
		<section class="css-pollPreview__grid">

			<!-- This is the link for the detail view of the poll -->
			<a href="" class="css-pollPreview__link">
				<article class="css-pollPreview__poll">
					<section class="css-pollPreview__options">
						<label class="css-pollPreview__option">
							<input type="radio" name="food" value="toast" checked>
							<span>Toast</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="checkbox" name="food" value="toast">
							<span>Pizza</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="radio" name="food" value="toast">
							<span>Toast</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="checkbox" name="food" value="toast">
							<span>Pizza</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="radio" name="food" value="toast">
							<span>Toast</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="checkbox" name="food" value="toast">
							<span>Pizza</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="radio" name="food" value="toast">
							<span>Toast</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="checkbox" name="food" value="toast">
							<span>Pizza</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="radio" name="food" value="toast">
							<span>Toast</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="checkbox" name="food" value="toast">
							<span>Pizza</span>
						</label>
					</section>

					<h2 class="mt-3">Poll Title</h2>
				</article>
			</a>

			<a href="" class="css-pollPreview__link">
				<article class="css-pollPreview__poll">
					<section class="css-pollPreview__options">
						<label class="css-pollPreview__option">
							<input type="radio" name="food" value="toast">
							<span>Toast</span>
						</label>

						<label class="css-pollPreview__option">
							<input type="checkbox" name="food" value="toast" checked>
							<span>Pizza</span>
						</label>

					</section>

					<h2 class="mt-3">Poll Title</h2>
				</article>
			</a>

			<a href="" class="css-pollPreview__link">
				<article class="css-pollPreview__poll css-pollPreview__poll--new">
					<section class="css-pollPreview__options">
						Neu
					</section>

					<h2 class="mt-3">Poll Title</h2>
				</article>
			</a>
		</section>

		<!-- Pagination -->
		<section class="css-pagination flex ml-5 my-5">
			<button class="">&laquo;</button>
			<button class="">&lt;</button>
			<button class="css-active">1</button>
			<button class="">2</button>
			<button class="">3</button>
			<button class="">4</button>
			<button class="">&gt;</button>
			<button class="">&raquo;</button>
		</section>
	</main>

	<footer>
		<a href="/datenschutz">Datenschutz</a>
	</footer>
</body>

</html>
