@use "../../assets/styles/variables" as *;
@use "../../assets/styles/mixins" as *;

.css-profile {
	&__image {
		@include skew;
	}

	&__info {
		&::after {
			@include skew;

			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: ' ';
			background-color: rgba(8, 3, 37, 0.4);
		}
	}
}
