<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
</head>

<body class="flex flex-col min-h-screen">
	<header class="px-10 py-10 flex justify-between fixed w-full">
		<nav>
			<a href="#" class="px-3 py-10">LOGO</a>
			<a href="#" class="px-3 py-10">Home</a>
			<a href="#" class="px-3 py-10 border-white border-b-2">Active page</a>
		</nav>
		<div>
			User-Menu
		</div>
	</header>


	<main class="flex-grow mt-32 css-profile">

		<header>
			<img src="images/profile.jpg">
		</header>

	</main>

	<footer class="px-10 py-10 flex justify-between">
		<div>
			<!-- Please add the year via php <?php echo date("Y"); ?> -->
			2020 &copy; Copyright Passioneight
		</div>
	</footer>
</body>

</html>
