<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Profile</title>
</head>

<body class="flex flex-col min-h-screen">
	<header class="px-10 py-10 flex justify-between fixed w-full">
		<nav>
			<a href="#" class="px-3 py-10">LOGO</a>
			<a href="#" class="px-3 py-10">Home</a>
			<a href="#" class="px-3 py-10 border-white border-b-2">Active page</a>
		</nav>
		<div>
			User-Menu
		</div>
	</header>


	<main class="flex-grow mt-32 css-profile">

		<header class="absolute top-0 left-0 ">
			<img class="object-cover h-96 w-full" src="images/profile.jpg">
			<section class="absolute bottom-10 left-10 flex">
				<img class="object-cover w-36 h-44 css-profile__image"
					src="http://www.placekitten.com/200/200">
				<article class="ml-6 css-profile__info">
					<h1 class="uppercase">User name</h1>
					<p>office@passioneight.com</p>
					<div>
						<!-- This will be one count which can be used as often as wanted -->
						<label>
							<p>69</p>
							<span>Participated</span>
						</label>
					</div>
				</article>
			</section>
		</header>

	</main>

	<footer class="px-10 py-10 flex justify-between">
		<div>
			<!-- Please add the year via php <?php echo date("Y"); ?> -->
			2020 &copy; Copyright Passioneight
		</div>
	</footer>
</body>

</html>
