<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poll</title>
</head>

<body class="p-10">

	<div class="css-poll">
		<h2>Food</h2>

		<label>
			<input type="radio" name="food" value="tortilla" checked>
			<span>Tortilla</span>
		</label>

		<label>
			<input type="radio" name="food" value="pizza">
			<span>Pizza</span>
		</label>

		<label>
			<input type="radio" name="food" value="toast">
			<span>Toast</span>
		</label>

		<label>
			<input type="checkbox" name="food" value="toast">
			<span>Toast</span>
		</label>

		<label>
			<input type="checkbox" name="food" value="pizza">
			<span>Pizza</span>
		</label>

		<label>
			<input type="checkbox" name="food" value="tortilla">
			<span>Tortilla</span>
		</label>

		<button>Abstimmen</button>
	</div>

	<!-- DO NOT TAKE THIS BREAK BUT HAVE A BREAK ;) -->
	<br class="mt-10" />

	<div class="css-pollResult">
		<h2>Food</h2>
		<label>
			<!-- I know there is a progress bar element but it's horrible to style -->
			<span>Tortilla (5)</span>
			<div class="css-progress">
				<div style="width: 45%">45%</div>
			</div>
		</label>

		<label>
			<!-- I know there is a progress bar element but it's horrible to style -->
			<span>Pizza (4)</span>
			<div class="css-progress">
				<div style="width: 36%">36%</div>
			</div>
		</label>

		<label>
			<!-- I know there is a progress bar element but it's horrible to style -->
			<span>Toast (2)</span>
			<div class="css-progress">
				<div style="width: 18%">18%</div>
			</div>
		</label>
		<p>Gesamt 11 Stimmen</p>
	</div>
</body>

</html>
