<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Poll</title>
</head>

<body class="p-10">

	<div class="css-poll">
		<h2>Food</h2>

		<label>
			<input type="radio" name="food" value="tortilla" checked>
			<span>Tortilla</span>
		</label>

		<label>
			<input type="radio" name="food" value="pizza">
			<span>Pizza</span>
		</label>

		<label>
			<input type="radio" name="food" value="toast">
			<span>Toast</span>
		</label>

		<label>
			<input type="checkbox" name="food" value="toast">
			<span>Toast</span>
		</label>

		<label>
			<input type="checkbox" name="food" value="pizza">
			<span>Pizza</span>
		</label>

		<label>
			<input type="checkbox" name="food" value="tortilla">
			<span>Tortilla</span>
		</label>

		<button>Abstimmen</button>
	</div>
</body>

</html>
