input {
	text-align: inherit;
	background: none;
	z-index: 1;

	&:focus {
		transform: skew(-7deg);
	}
}

div {
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.1);
		transform: skew(-7deg);
		transition: 0.3s background-color ease;
		z-index: 0;
	}

	&.focus::after {
		color: #080325;
		background-color: #ffffff;
	}
}
