<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login</title>
</head>

<body>

	<form id="login" class="css-login p-8 text-center sm:max-w-md mx-auto mt-10">
		<h1 class="text-white text-4xl uppercase">Login</h1>
		<label class="block my-8">
			E-Mail-Adresse
			<div class="relative block">
				<input
					class="relative block appearance-none w-full py-2 px-3 mt-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					placeholder="E-Mail-Adresse" type="email" />
			</div>
		</label>

		<label class="block my-8">
			Passwort
			<div class="relative block">
				<input
					class="relative block appearance-none w-full py-2 px-3 mt-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
					placeholder="Passwort" type="password" />
			</div>
		</label>

		<button class="w-full">Login</button>
	</form>
</body>

</html>
