@use "variables" as *;
@use "mixins" as *;

button {
	@apply relative text-white outline-none shadow-none text-center cursor-pointer z-10 px-8 py-3 border-none transition-colors duration-300;

	&::before {
		@include skew;
		@apply absolute top-0 right-0 bottom-0 left-0 border-2 border-solid border-white transition-colors duration-300;

		content: '';
		z-index: -1;
	}

	&:hover,
	&.css-active {
		@apply text-white border-none outline-none shadow-none no-underline;

		&::before {
			background-color: $color-primary;
			border-color: $color-primary;
		}
	}

	&.css-green {
		@apply text-green-500;

		&::before {
			@apply border-green-500;
		}

		&:hover {
			@apply text-green-600;
			&::before {
				@apply bg-white border-white;
			}
		}
	}
}
