@use 'sass:color';

$color-primary: #d92b4c;

$color-primary-blue: rgb(8, 3, 37);

$color-primary-blue-90: color.adjust($color-primary-blue, $alpha: -0.1);
$color-primary-blue-40: color.adjust($color-primary-blue, $alpha: -0.6);

$color-primary-white: theme('colors.white');

$skew-degree: -7deg;
