@mixin skew($degree: -7deg) {
	transform: skew($degree);
}

@mixin tiltedBackground($background: rgba(8, 3, 37, 0.4)) {
	@include skew;
	@apply absolute top-0 right-0 bottom-0 left-0;

	content: '';
	background: $background;
}
