@use "variables" as *;

// import of tailwind styles
/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

@import 'button';
@import 'font';
@import 'input';

body {
	@apply text-white antialiased;

	background-color: $color-primary-blue-90;

	> header {
		@apply z-50;
		background-color: $color-primary-blue-90;
	}

	> footer {
		background-color: $color-primary-blue-90;
	}
}

a {
	@apply cursor-pointer transition-colors;

	&:hover {
		color: $color-primary-pink;
	}
}
