@use "variables" as *;

// import of tailwind styles
/* stylelint-disable */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* stylelint-enable */

@import 'button';

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: rgba(8, 3, 37, 0.9);
	color: #ffffff;
}

a {
	cursor: pointer;
	transition: 0.3s color ease;

	&:hover {
		color: $color-primary-pink;
	}
}

header {
	background-color: $color-layout-background;
}

footer {
	background-color: $color-layout-background;
}
